{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="section">

        <h2>Your History</h2>
        <table style="margin-left:auto;margin-right:auto;">
            <thead>
                <tr>
                    <th style="width:100px">Symbol</th>
                    <th style="width:100px">Price</th>
                    <th style="width:100px">Quantity</th>
                    <th style="width:100px">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for x in history %}
                <tr>
                    <td>{{ x["symbol"] }}</td>
                    <td>{{ x["price"] | usd }}</td>
                    <td>{{ x["quantity"] }}</td>
                    <td>{{ x["date"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}