{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="section">

        <h2>Your Stocks</h2>
        <h5>Your cash: {{ balance | usd }}</h5>
        <h6>Your total balance: {{ total_balance | usd }}</h6>
        <table style="margin-left:auto;margin-right:auto;">
            <thead>
                <tr>
                    <th style="width:100px">Stock</th>
                    <th style="width:100px">Shares</th>
                    <th style="width:100px">Price</th>
                    <th style="width:100px">Holding</th>
                </tr>
            </thead>
            <tbody>
                {% for x in stocks %}
                <tr>
                    <td>{{ x["symbol"] }}</td>
                    <td>{{ x["SUM(quantity)"] }}</td>
                    <td>{{ cur_price[loop.index0] | usd }}</td>
                    <td>{{ ((cur_price[loop.index0])*x["SUM(quantity)"]) | usd }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}